
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');
.navbar {
    overflow: hidden;
    background-color: skyblue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    padding: 40px;
    
    }
  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .navbar div{
    display: flex;
    align-items: center;
  }
  .navbar h1{
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-style: normal;
    color: white;
  }
  .navbar a {
    font-size: 1.6rem;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  
    input{
      font-size: 1.6rem;
    float: none;
   border-width: 0px;
    border-radius: 30px;
    padding: 2px 30px;
  } 
  

   #text{
    font-size: 1.3rem;
    border-width: 0px ;
    border-radius: 10px;
    background-color: rgb(192, 173, 192);
    width:55vw;
    padding: 10px;
   
  }
  
  
  .cards{
    margin-top: 100px;
    padding: 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .cards div{
    background-color: powderblue;
   border-radius: 10px;
    width: 15vw;
    padding: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 10px black;
  }
.info{
  display: flex;
  /* margin-top: 30px ; */
  background-color: blue;
  margin:100px 9vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.infoleft{
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  
}
.infoleft div{
  
  
    width: 15vw;
    padding: 30px 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: powderblue;
    color: black;
    border-radius: 20px;
}
.infoleft div:not(.selected){
  background-color: blue;
  border: 3px solid white;
  color: white;
 
}

.inforight{
  background-color:white;
  width: 100%;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  height: 400px;
  position: relative;
}
  
/* .selected{
  background-color: powderblue;
  border: 0px solid blue;
} */
button{
  background-color: black;
  color: white;
  position:absolute;
  bottom: 20px;
  right: 20px;
  padding: 8px 20px;
  border-radius: 4px;

}
.inforight p{
  padding: 10px;
}
.inforight h2{
  padding-bottom: 10px;
}
.help{
  position: fixed;
  bottom: 10px;
  right: 75px;
  border: 3px solid white;
  border-radius: 50px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
  padding: 4px;
}
.sticky{
  z-index: 1000;
 position: sticky;
 top:80px;
  margin-top: 230px;
  float: right;

}
.sticky img{
  width: 50px;
  height: 50px;
  margin: 2px;
 

}
.sticky div{
  display: flex;
  flex-direction: column;
 
}
.maincard{
  height: 400px;
  margin-top: 120px;
}
.place{
  width: 150px;
  display: inline-block;
}
 